[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "==22.0.0"
pymongo = "==4.6.0"
python-dotenv = "==1.0.0"

[dev-packages]

[requires]
python_version = "3.13"
